* {
        box-sizing: border-box;
        text-align: center;
}

body {
        background-image: url(../images/congruent_outline.png);
        color: lightgreen;
        font-size: 18px;
        font-weight: 300;
        line-height: 30px;
        width: 100%;
        text-align: center;
}

#cardTrn {
        opacity: .9;
}
nav{
        background: none;
        width: 100%;
}

#contact {
        background: no-repeat;
}

.container {
        padding-top: 30px;
        width: 100%;
        display: inline-block;
}

footer {
        padding: 10px;
        width: 100%;
}
.card {
        height: 685px;
        overflow:auto ;
        background: none;
        border-radius: 10px;
        overflow-y: hidden;
}
.card-reveal{
        overflow-y:hidden;
}
.page-footer{
        background: none;
}
.btn-floating{
        display: table-footer-group;
}