*       
        {
box-sizing: border-box;
text-align: center;
        }
body 
        {
background-image: url(../images/congruent_outline.png);
color: #172B4D;
font-family:Arial, Helvetica, sans-serif;
font-size: 20px;
font-style: normal;
        }     
header 
        {
font-family: Georgia, 'Times New Roman', Times, serif;
background-color: #ffffff;
width: 100%;
border-color: #cccccc;
height: 90px;
list-style-type: none;
padding-left: 200px;
display: flex;
        }        
.box-name
        {
height: 90px;
width: 270px;
background-color: teal;
padding-top: 25px;
margin-right: 210px;
        }       
.box-name a
        {
text-decoration: none;
        }
.box-name :hover
        {
background-color: steelblue;
color: black;
border-bottom-right-radius: 10px;
border-top-left-radius: 15px;
border-bottom-left-radius: 15px;
border-top-right-radius: 15px;
        }
.box-nav
        {
display: inline-block;
width: 270px;
margin-left: 220px;
padding-top: 30px;
        }  
.box-nav a
        {
float: left;
display: block;
color: teal;
text-align:  center;
padding: 3px 4px;
text-decoration: none;
border-bottom-left-radius: 15px;
border-top-right-radius: 15px;
        }
.box-nav :hover
        {
background-color: steelblue;
color: black;
        }
.box-cntnr-area
        {
width: 960px;
display: inline-block;
margin-top: 35px;
margin-bottom: 35px;
margin-left: 200px;
margin-right: 200px;
        }
.box-left
        {
width: 650px;
background-color: whitesmoke;
float: left;
        }
.box-right
        {
background-color: #172B4D;
width: 270px;
float: left;
margin-left: 40px;
        }
.inside
        {

        }
textarea{
width: 100%;
padding: 25px;
border: 1px solid #ccc;
border-radius: 70px;
box-sizing: border-box;
margin-top: 55px;
margin-bottom: 16px;
resize: vertical;
font-size: 20px;
height: 400px;
        }
img
        {
float: left;
margin: 20px;
        }

.imgpng
        {
width: 50px;
margin-right: 20px;
        }
h1
        {
color: whitesmoke;background-color: teal;font-size: 40px;
        }
h6      {
font-size: 15px;
margin: auto;
        }
h2      {
color: turquoise;
margin-bottom: 40px;
width: 30%;
margin-top: 40px;
font-size: 30px;
        }
p       {
text-align: left;
font-size: 18px;
margin-left: 20px;
margin-bottom: 50px;
        }
h3      {
color: whitesmoke;
padding-bottom: 25px;
padding-top: 25px;
        }
.rcorners1 
        {
border-bottom-right-radius: 15px;
border-top-style: groove;
background: #73AEAC;
padding: 0px;
width: 270px;
border-top-left-radius: 15px;
border-top-width: 4px;
        }
.rcorners2
        {
border-top-left-radius: 35px;
border-bottom-right-radius: 35px;
border-left-style: double;
border-color: rgb(148, 38, 44);
border-right-style: ridge;
        }
footer 
        {
width: 100%;
margin-left: auto;
margin-right: auto;
background-color: #666666;
padding-top: 45px;
border-top-width: 10px;
border-style: solid;
border-color: teal;
        } 
/* Sylesheet de la Petru pn pagina de contacte */
input[type=text], select
        {
width: 100%;
padding: 12px;
border: 1px solid #ccc;
border-radius: 4px;
box-sizing: border-box;
margin-top: 6px;
margin-bottom: 16px;
resize: vertical;
        }
input[type=submit] 
        {
background-color: #4CAF50;
color: white;
padding: 12px 20px;
border: none;
border-radius: 4px;
cursor: pointer;
left: 0;
bottom: 10px;
position: relative;
        }
input[type=submit]:hover 
{
background-color: #45a049;
        }
.container  
        {
border-radius: 5px;
background-color: #f2f2f2;
padding: 20px;
        }
#subject    
        {       
background-color: bisque;
border-bottom-right-radius: 25px;
border-top-left-radius: 25px;
        }
.pic
        {
width: 285px;
        }